<carousel
  [height]="450"
  [width]="800"
  [cellWidth]="800"
  [dots]="true"
  [borderRadius]="10"
  [arrows]="true"
  [margin]="20"
  [overflowCellsLimit]="2"
  [arrowsOutside]="true"
>
  <div class="carousel-cell">
    <img src="../../assets/projekte/forify.PNG" alt="forkify" />
  </div>
  <div class="carousel-cell">
    <img src="../../assets/projekte/bankist.PNG" alt="bankist" />
  </div>
  <div class="carousel-cell">
    <img src="../../assets/projekte/mapty.PNG" alt="mapty" />
  </div>
  <div class="carousel-cell">
    <img src="../../assets/projekte/wichteln.PNG" alt="wichteln" />
  </div>
</carousel>
