// Global values

.section {
  position: relative;
  height: 100vh;
}

.title {
  top: 3rem;
  left: 5rem;
  object-position: center;
  left: 5rem;
  top: 7rem;
}

h1 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2.4rem;
  font-weight: 500;
}

// Top Navigation
.nav {
  background-image: url(../../img/img1.jpg);
  // background-color: gray;
  display: flex;
  object-position: center;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.logo {
  height: 6rem;
  margin-left: 4rem;
}

/* nav and stickly class at the same time */
// .nav.sticky {
//   position: fixed;
//   // background-color: rgba(255, 255, 255, 0.95);
// }

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 4rem;
  color: white;
}

.nav__link {
  // color: white;
  color: white;
}

.nav__item {
  margin-left: 4rem;
  color: white;
}

.nav__link:link {
  font-size: 2rem;
  font-weight: 400;
  color: white;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  // display: block;
  // transition: all 0.3s;
}

.nav__link:hover {
  border-bottom: 3px solid black;
}

.nav__link--btn:link {
  align-items: center;
  padding: 0.8rem 2rem;
  border-radius: 3rem;
  // background-color: var(--color-primary);
  color: white;
}

// .nav__link--btn:hover {
//   // color: white
//   // background-color: var(--color-primary-darker);
//   color: red;
// }

// Section 1 / skills

#section-1 {
  border-bottom: 1px solid black;
}

#skills_title {
  border-bottom: 1px solid black;
}

.main_skills {
  object-position: center;
  position: relative;
  left: 25rem;
  top: 7rem;
  width: 400px;
}

.coding_languages {
  position: absolute;
  width: 450px;
  left: -3rem;
  line-height: 380%;
  list-style-type: none;
  font-size: large;
  font-weight: 600;
  display: inline-block;
  vertical-align: top;
}

#cod_lang_1 {
  width: 250px;
  display: inline-block;
  vertical-align: top;
  list-style-type: none;
  // margin: 0;
}

#cod_lang_2 {
  // width: 150px;
  display: inline-block;
  vertical-align: top;
  list-style-type: none;
}

#cod_lang_1 li:nth-child(1) {
  margin: 0;
  padding: 11px 0 11px 70px;
  background-image: url(../assets/logos/angular_logo.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 60px;
}
#cod_lang_1 li:nth-child(2) {
  margin: 0;
  padding: 11px 0 11px 70px;
  background-image: url(../assets/logos/typescript_logo.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 60px;
}

#cod_lang_1 li:nth-child(3) {
  margin: 0;
  padding: 11px 0 11px 70px;
  background-image: url(../assets/logos/javascript_logo.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 60px;
}

#cod_lang_2 li:nth-child(1) {
  margin: 0;
  padding: 11px 0 11px 70px;
  background-image: url(../assets/logos/html_logo.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 60px;
}

#cod_lang_2 li:nth-child(2) {
  margin: 0;
  padding: 11px 0 11px 70px;
  background-image: url(../assets/logos/css_logo.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 53px;
}

.coding_languages li:hover {
  color: red;
  cursor: pointer;
}

.my_picture {
  position: absolute;
  width: 35rem;
  top: 15rem;
  right: 15rem;
  box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7);
}

.next_page {
  position: absolute;
  object-position: center;
  bottom: 3rem;
  left: 43%;
}

.about_me_button {
  border: none;
  background-color: transparent;
  position: relative;
  // align-items: center;
  font-size: medium;
  left: 10%;
  // text-align: center;
}

.about_me_button:hover {
  color: red;
  // font-size: large;
  cursor: pointer;
}

// Section 2 / about me

#section-2 {
  // background-image: url(../../img/img1.jpg);
  background-color: white;
  border-top: 1px solid rgb(0, 0, 0);
}

.text {
  position: relative;
  text-align: center;
}

#about_me_title {
  position: relative;
  text-align: center;
  // left: 5.5rem;
  top: 7rem;
}

.about_me_text {
  position: relative;
  // left: 5.5rem;
  top: 8rem;
  font-size: large;
}

#about_me_list {
  position: relative;
  top: 15rem;
  list-style-type: none;
  font-size: medium;
  font-weight: 600;
  left: 6rem;
  line-height: 2rem;
  width: 450px;
  // border-right: 1px solid black;
}

#about_me_list li {
  border-bottom: 2px solid black;
}

.zeugnis {
  position: absolute;
  right: 9rem;
  bottom: 7.6rem;
  width: 150px;
  box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7);
}

.zertifikat {
  position: absolute;
  right: 35rem;
  bottom: 7.6rem;
  width: 150px;
  box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7);
}

.zeugnis:hover {
  width: 180px;
  cursor: pointer;
}

.zertifikat:hover {
  width: 180px;
  cursor: pointer;
}

.next_page2 {
  position: absolute;
  object-position: center;
  bottom: 2rem;
  left: 43%;
}

.my_projects {
  border: none;
  background-color: transparent;
  position: relative;
  // align-items: center;
  font-size: medium;
  left: 10%;
}

.my_projects:hover {
  color: red;
  // font-size: large;
  cursor: pointer;
}

// Section 3

#section-3 {
  background-color: rgb(39, 38, 38);
}

// Section 4

.section-4 {
  position: relative;
  height: 10vh;
}

.bottom {
  background-image: url(../../img/img1.jpg);
  // background-color: gray;
  display: flex;
  object-position: center;
  // justify-content: space-between;
  align-items: center;
  height: 6rem;
}

.copyright_logo {
  // position: relative;
  height: 2.5rem;
  margin-left: 4rem;
}

#bottom_name {
  font-size: small;
  position: absolute;
  left: 7rem;
  color: white;
}

.carousel {
  position: relative;
  left: 18%;
  // border-right: 1px solid white;
  // border-bottom: 1px solid white;
}

#my_projects_header {
  position: relative;
  color: white;
  text-align: center;
  top: 2.7rem;
}

.project_text {
  position: relative;
  color: white;
  text-align: center;
  font-size: medium;
}
