<!--First Section-->
<section class="section" id="section-1">
  <nav class="nav">
    <img class="logo" src="../assets/logos/homepage-logo.png" alt="logo" />
    <ul class="nav__links">
      <li class="nav__item">
        <a class="nav__link" href="#section--1">about me</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#section--2">My Projects</a>
      </li>
      <li class="nav__item">
        <a class="nav__link nav__link--btn btn--show-modal" href="#">contact</a>
        <a><img src="" /></a>
      </li>
    </ul>
  </nav>
  <div class="main_skills">
    <div class="title">
      <h4 id="skills_title">
        Hi , I'm Robin, <br />
        a Webdeveloper from Vienna/Austria. <br />
        I have skills in :
      </h4>
    </div>
    <ul class="coding_languages">
      <li id="angular_logo">Angular</li>
      <li id="typescript_logo">TypeScript</li>
      <li id="javascript_logo">JavaScript</li>
      <li id="html_logo">HTML</li>
      <li id="css_logo">CSS</li>
    </ul>
  </div>
  <img class="my_picture" src="../assets/images/porträt.jpg" alt="my-picture" />
  <div class="next_page">
    <button class="about_me_button">read more about me<br />▽</button>
  </div>
</section>
<!--Second Section-->
<section class="section" id="section-2">
  <div class="title">
    <h4 id="about_me_title">about me</h4>
  </div>
  <p class="about_me_text">
    I'm 31 years old and currently living in Vienna. My native language is
    German and I speak English. <br />
    I am familiar with the version control tools git and github. Windows and
    Visual Studio Code are my first choices. <br />
    When i was at school, I learned programming with Visual Basic and PHP.<br />
    In this section you will find further personal information about me and
    relevant certificates.
  </p>
  <ul id="about_me_list">
    <li>
      First Name: <br />
      Robin
    </li>
    <li>
      Last Name:<br />
      Köck
    </li>
    <li>
      Date of Birth:<br />
      11.12.1991
    </li>
    <li>
      Born in:<br />
      Vienna - Austria
    </li>
    <li>
      School:<br />
      SDV Computer Science School - Vienna
    </li>
  </ul>
  <img class="zeugnis" src="../assets/images/lebenslauf.jpg" alt="zeugnis" />
  <img
    class="zertifikat"
    src="../assets/images/lebenslauf.jpg"
    alt="zertifikat"
  />
  <div class="next_page2">
    <button class="my_projects">check out my Projects<br />▽</button>
  </div>
</section>
<!-- 3rd Section-->
<section class="section" id="section-3">
  <h2 id="my_projects_header">My Projects</h2>
  <div class="carousel">
    <app-carousel></app-carousel>
  </div>
  <div class="project_text">
    <p>
      this is the description for each project and what i ve learnt from it
      <br />
      with every click on one of the arrows the text should change
    </p>
  </div>
</section>
<!--4th Section-->
<section class="section-4>">
  <nav class="bottom">
    <img
      class="copyright_logo"
      src="../assets/logos/copyright.png"
      alt="copyright"
    />
    <h4 id="bottom_name">Robin Köck</h4>
  </nav>
</section>
